<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <main>
    <% if (blog) { %>
      <h1><%= blog.content %></h1>
    <% } else { %>
      <div class="no-blogs">
        <h2>Wrong URL</h2>
        <p>Check back later for new content!</p>
      </div>
    <% } %>
  </main>
</body>
</html>
