<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="noto-sans">
  <h1>Rushikesh's Personal Blog</h1>
  <p>Sharing thoughts and ideas about technology</p>

  <% if (blogs && blogs.length > 0) { %>
    <div style="margin-top: 30px;">
      <% blogs.forEach(blog => { %>
        <div style="margin: 15px 0;">
          <% if (blog.slug) { %>
            <a href="/blog/<%= blog.slug %>"><%= blog.title %></a>
          <% } %>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p>No blog posts yet. Check back later for new content!</p>
  <% } %>
</body>
</html>
